.article {
  max-width: 48rem;

  p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: justify;
    font-size: 1rem
  }

  a,
  a:visited {
    overflow-wrap: anywhere;
    --un-text-opacity: 1;
    color: rgb(168 0 0 / var(--un-text-opacity));
    text-decoration: none
  }

  a:hover {
    text-decoration-line: underline
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 700
  }

  h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem
  }

  h2 {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    font-size: 1.75rem
  }

  h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem
  }

  h4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem
  }

  h5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem
  }

  .katex-display {
    overflow-x: auto;
    overflow-y: hidden
  }

  img {
    display: block;
    max-width: 100%;
    height: auto
  }

  ol,
  ul {
    list-style-type: disc;
    padding-left: 2rem
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit
  }

  textarea {
    width: 100%
  }

  code,
  pre,
  kbd {
    font-family: Maple Mono, Jetbrains Mono
  }

  table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-collapse: collapse;
    overflow-x: scroll;
    counter-increment: caption
  }

  img {
    width: 100%;
    height: auto
  }

  table>thead {
    border-top-width: 2.27px;
    border-bottom-width: 1.8px;
    --un-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--un-border-opacity));
    border-style: solid;
    border-left-style: none;
    border-right-style: none
  }

  table>tbody {
    border-bottom-width: 2.27px;
    --un-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--un-border-opacity));
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none
  }

  th,
  td {
    padding: .25rem 1rem
  }

  caption {
    text-align: left;
    font-size: .923em;
    padding: 0 .25em .25em;
    width: 100%;
    margin-left: 0
  }

  caption:before {
    content: "Table " counter(caption) ". ";
    font-weight: 700
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: .25rem 1.25rem;
    background-color: #eee;
    border-inline-start: 5px solid #000
  }

  .scroll-wrapper {
    overflow-x: auto
  }

  .scroll-wrapper>table td {
    white-space: nowrap
  }

  nav ol {
    counter-reset: item
  }

  nav li {
    display: block
  }

  nav li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
    padding-right: .85rem;
    font-weight: inherit;
    color: var(--link-visited)
  }

  dl dd {
    text-align: center
  }

  pre {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-width: 2px;
    --un-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--un-border-opacity));
    border-style: solid;
    padding: 1rem
  }

  code {
    font-size: .875rem
  }
}

a[data-astro-cid-eimmu3lg] {
  display: inline-block;
  text-decoration: none
}

a[data-astro-cid-eimmu3lg].active {
  font-weight: bolder;
  text-decoration: underline
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  line-height: 1.5
}

a {
  color: inherit;
  text-decoration: inherit
}

button {
  background: none;
  border: none
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0
}

:where(html) {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%
}

:where(h1) {
  font-size: 2em;
  margin-block-end: .67em;
  margin-block-start: .67em
}

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin-block-end: 0;
  margin-block-start: 0
}

:where(hr) {
  box-sizing: content-box;
  color: inherit;
  height: 0
}

:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted
}

:where(b, strong) {
  font-weight: bolder
}

:where(code, kbd, pre, samp) {
  font-family: monospace, monospace;
  font-size: 1em
}

:where(small) {
  font-size: 80%
}

:where(table) {
  border-color: currentColor;
  text-indent: 0
}

:where(button, input, select) {
  margin: 0
}

:where(button) {
  text-transform: none
}

:where(button, input:is([type=button i], [type=reset i], [type=submit i])) {
  -webkit-appearance: button
}

:where(progress) {
  vertical-align: baseline
}

:where(select) {
  text-transform: none
}

:where(textarea) {
  margin: 0
}

:where(input[type=search i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

:where(button, input:is([type=button i], [type=color i], [type=reset i], [type=submit i]))::-moz-focus-inner {
  border-style: none;
  padding: 0
}

:where(button, input:is([type=button i], [type=color i], [type=reset i], [type=submit i]))::-moz-focusring {
  outline: 1px dotted ButtonText
}

:where(:-moz-ui-invalid) {
  box-shadow: none
}

:where(dialog) {
  background-color: #fff;
  border: solid;
  color: #000;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content
}

:where(dialog:not([open])) {
  display: none
}

:where(summary) {
  display: list-item
}

@font-face {
  font-family: Maple Mono;
  font-style: normal;
  font-weight: 400;
  src: local("Maple Mono"), url(https://fastly.jsdelivr.net/gh/subframe7536/maple-font/woff2/MapleMono-Regular.woff2),
}

*,
:before,
:after {
  --un-rotate: 0;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-scale-x: 1;
  --un-scale-y: 1;
  --un-scale-z: 1;
  --un-skew-x: 0;
  --un-skew-y: 0;
  --un-translate-x: 0;
  --un-translate-y: 0;
  --un-translate-z: 0;
  --un-pan-x: ;
  --un-pan-y: ;
  --un-pinch-zoom: ;
  --un-scroll-snap-strictness: proximity;
  --un-ordinal: ;
  --un-slashed-zero: ;
  --un-numeric-figure: ;
  --un-numeric-spacing: ;
  --un-numeric-fraction: ;
  --un-border-spacing-x: 0;
  --un-border-spacing-y: 0;
  --un-ring-offset-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-shadow: 0 0 rgb(0 0 0 / 0);
  --un-shadow-inset: ;
  --un-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-inset: ;
  --un-ring-offset-width: 0px;
  --un-ring-offset-color: #fff;
  --un-ring-width: 0px;
  --un-ring-color: rgb(147 197 253 / .5);
  --un-blur: ;
  --un-brightness: ;
  --un-contrast: ;
  --un-drop-shadow: ;
  --un-grayscale: ;
  --un-hue-rotate: ;
  --un-invert: ;
  --un-saturate: ;
  --un-sepia: ;
  --un-backdrop-blur: ;
  --un-backdrop-brightness: ;
  --un-backdrop-contrast: ;
  --un-backdrop-grayscale: ;
  --un-backdrop-hue-rotate: ;
  --un-backdrop-invert: ;
  --un-backdrop-opacity: ;
  --un-backdrop-saturate: ;
  --un-backdrop-sepia:
}

::backdrop {
  --un-rotate: 0;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-scale-x: 1;
  --un-scale-y: 1;
  --un-scale-z: 1;
  --un-skew-x: 0;
  --un-skew-y: 0;
  --un-translate-x: 0;
  --un-translate-y: 0;
  --un-translate-z: 0;
  --un-pan-x: ;
  --un-pan-y: ;
  --un-pinch-zoom: ;
  --un-scroll-snap-strictness: proximity;
  --un-ordinal: ;
  --un-slashed-zero: ;
  --un-numeric-figure: ;
  --un-numeric-spacing: ;
  --un-numeric-fraction: ;
  --un-border-spacing-x: 0;
  --un-border-spacing-y: 0;
  --un-ring-offset-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-shadow: 0 0 rgb(0 0 0 / 0);
  --un-shadow-inset: ;
  --un-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-inset: ;
  --un-ring-offset-width: 0px;
  --un-ring-offset-color: #fff;
  --un-ring-width: 0px;
  --un-ring-color: rgb(147 197 253 / .5);
  --un-blur: ;
  --un-brightness: ;
  --un-contrast: ;
  --un-drop-shadow: ;
  --un-grayscale: ;
  --un-hue-rotate: ;
  --un-invert: ;
  --un-saturate: ;
  --un-sepia: ;
  --un-backdrop-blur: ;
  --un-backdrop-brightness: ;
  --un-backdrop-contrast: ;
  --un-backdrop-grayscale: ;
  --un-backdrop-hue-rotate: ;
  --un-backdrop-invert: ;
  --un-backdrop-opacity: ;
  --un-backdrop-saturate: ;
  --un-backdrop-sepia:
}

.i-ph-lightning {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 256 256' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M215.79 118.17a8 8 0 0 0-5-5.66L153.18 90.9l14.66-73.33a8 8 0 0 0-13.69-7l-112 120a8 8 0 0 0 3 13l57.63 21.61l-14.62 73.25a8 8 0 0 0 13.69 7l112-120a8 8 0 0 0 1.94-7.26M109.37 214l10.47-52.38a8 8 0 0 0-5-9.06L62 132.71l84.62-90.66l-10.46 52.38a8 8 0 0 0 5 9.06l52.8 19.8Z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ph-list {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 256 256' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M224 128a8 8 0 0 1-8 8H40a8 8 0 0 1 0-16h176a8 8 0 0 1 8 8M40 72h176a8 8 0 0 0 0-16H40a8 8 0 0 0 0 16m176 112H40a8 8 0 0 0 0 16h176a8 8 0 0 0 0-16'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.dark .dark .dark\:bg-base {
  --un-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--un-bg-opacity))
}

.dark .dark\:bg-base {
  --un-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--un-bg-opacity))
}

.color-base {
  --un-text-opacity: 1;
  color: rgb(0 0 0 / var(--un-text-opacity))
}

.dark .color-base {
  --un-text-opacity: 1;
  color: rgb(255 255 255 / var(--un-text-opacity))
}

.static {
  position: static
}

.m-1 {
  margin: .25rem
}

.m\$，一般选择 {
  margin: var(--，一般选择)
}

.m\$，例如当 {
  margin: var(--，例如当)
}

.m\$，其中 {
  margin: var(--，其中)
}

.m\$； {
  margin: var(--；)
}

.m\$；\\n- {
  margin: var(--；\\n-)
}

.m\$。 {
  margin: var(--。)
}

.m\$。\\n\\n {
  margin: var(--。\\n\\n)
}

.m\$。\\n\\n\#\#\# {
  margin: var(--。\\n\\n\#\#\#)
}

.m\$。\\n\\n因此，定值乘法可以仅在 {
  margin: var(--。\\n\\n因此，定值乘法可以仅在)
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem
}

.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem
}

.mt {
  margin-top: 1rem
}

.mt-12 {
  margin-top: 3rem
}

.inline {
  display: inline
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.hidden {
  display: none
}

.h-11 {
  height: 2.75rem
}

.h\[k\] {
  height: k
}

.h264 {
  height: 66rem
}

.h347 {
  height: 86.75rem
}

.max-w-3xl {
  max-width: 48rem
}

.max-w-6xl {
  max-width: 72rem
}

.w-11 {
  width: 2.75rem
}

.w0 {
  width: 0
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.flex-1 {
  flex: 1 1 0%
}

.flex-col {
  flex-direction: column
}

.hover\:transform-rotate-720:hover {
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-rotate: 720deg;
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.transform {
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.space-x-4>:not([hidden])~:not([hidden]) {
  --un-space-x-reverse: 0;
  margin-left: calc(1rem * calc(1 - var(--un-space-x-reverse)));
  margin-right: calc(1rem * var(--un-space-x-reverse))
}

.b {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-stone-300 {
  --un-border-opacity: 1;
  border-color: rgb(214 211 209 / var(--un-border-opacity))
}

.rounded-full {
  border-radius: 9999px
}

.border-solid {
  border-style: solid
}

.bg-stone-100 {
  --un-bg-opacity: 1;
  background-color: rgb(245 245 244 / var(--un-bg-opacity))
}

.hover\:bg-stone-200:hover {
  --un-bg-opacity: 1;
  background-color: rgb(231 229 228 / var(--un-bg-opacity))
}

.p-1 {
  padding: .25rem
}

.p-4 {
  padding: 1rem
}

.px-1 {
  padding-left: .25rem;
  padding-right: .25rem
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.pb-20 {
  padding-bottom: 5rem
}

.pl-2 {
  padding-left: .5rem
}

.pt-10 {
  padding-top: 2.5rem
}

.text-center {
  text-align: center
}

.text-nowrap {
  text-wrap: nowrap
}

.text-3 {
  font-size: .75rem
}

.text-6 {
  font-size: 1.5rem
}

.text-primary {
  --un-text-opacity: 1;
  color: rgb(0 0 0 / var(--un-text-opacity))
}

.text-secondary {
  --un-text-opacity: 1;
  color: rgb(85 85 85 / var(--un-text-opacity))
}

.color-initial {
  color: initial
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.line-height-normal {
  line-height: 1.5
}

.font-serif {
  font-family: Noto Serif CJK SC, Source Han Serif CN, 思源宋体 CN, Noto Serif SC, Simsun, serif
}

.overline {
  text-decoration-line: overline
}

.underline {
  text-decoration-line: underline
}

.decoration-none {
  text-decoration: none
}

.shadow {
  --un-shadow: var(--un-shadow-inset) 0 1px 3px 0 var(--un-shadow-color, rgb(0 0 0 / .1)), var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgb(0 0 0 / .1));
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow)
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s
}

.transition-duration-500 {
  transition-duration: .5s
}

@media print {
  .print\:hidden {
    display: none
  }
}

@media (min-width: 640px) {
  .sm\:block {
    display: block
  }

  .sm\:hidden {
    display: none
  }

  .sm\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem
  }
}
