
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{ title }} | Wiki</title>
<link rel="stylesheet" href="{{ base_url }}/_static/style.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.8.0/github-markdown.min.css"
	integrity="sha512-MN7ZIXx1ti80exC9cQBaKjC+lbTegJWs/u8KGPGIhJj0/Zyc4UtgWeOp4R8jpfrMUMYf6WJ5sAPbCbwe9S+t6g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

<link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
	href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-a11y-dark.min.css">
<noscript>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-coldark-dark.min.css">
</noscript>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js"></script>
<script defer
	src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
<script defer
	src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
	integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"
	integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg"
	crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"
	integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk"
	crossorigin="anonymous"></script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		const inlineMathElements = document.querySelectorAll('span.math-inline');
		const displayMathElements = document.querySelectorAll('span.math-display');

		try {
			inlineMathElements.forEach(el => {
				katex.render(el.textContent.trim(), el, {
					displayMode: false
				});
			});
			displayMathElements.forEach(el => {
				katex.render(el.textContent.trim(), el, {
					displayMode: true
				});
			});
		} catch (err) {
			console.error('公式渲染错误:', err);
		}
	});
</script>
